<!-- app.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div flex layout="row" layout-align="space-between center">
      <mat-toolbar flex="15">
           <h2 class="md-toolbar-tools">
              <span>Menu</span>
            </h2>

      </mat-toolbar>
  </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Angular</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">Asp.net Core MVC</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">JavaScript</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">JQuery</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Ionic</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">Flutter</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Web API</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">.net</a>
      <!-- Add more menu items as needed -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      &nbsp;&nbsp;&nbsp;
      <span>Interview</span>
    </mat-toolbar>
    <!-- Your main content goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
